U1/TI1.1 SOAP_JAVA_SINBDD_GR01/01. SERVIDOR/ConUni_Soap_Java_GR01/web/WEB-INF/wsdl/localhost_8080/ConUni_Soap_Java_GR01/LongitudService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.monster.edu.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.monster.edu.ec/" name="LongitudService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.monster.edu.ec/" schemaLocation="http://localhost:8080/ConUni_Soap_Java_GR01/LongitudService?xsd=1"/>
</xsd:schema>
</types>
<message name="MillaAMetro">
<part name="parameters" element="tns:MillaAMetro"/>
</message>
<message name="MillaAMetroResponse">
<part name="parameters" element="tns:MillaAMetroResponse"/>
</message>
<message name="MetroAMilla">
<part name="parameters" element="tns:MetroAMilla"/>
</message>
<message name="MetroAMillaResponse">
<part name="parameters" element="tns:MetroAMillaResponse"/>
</message>
<message name="MillaAPulgada">
<part name="parameters" element="tns:MillaAPulgada"/>
</message>
<message name="MillaAPulgadaResponse">
<part name="parameters" element="tns:MillaAPulgadaResponse"/>
</message>
<message name="PulgadaAMilla">
<part name="parameters" element="tns:PulgadaAMilla"/>
</message>
<message name="PulgadaAMillaResponse">
<part name="parameters" element="tns:PulgadaAMillaResponse"/>
</message>
<message name="MetroAPulgada">
<part name="parameters" element="tns:MetroAPulgada"/>
</message>
<message name="MetroAPulgadaResponse">
<part name="parameters" element="tns:MetroAPulgadaResponse"/>
</message>
<message name="PulgadaAMetro">
<part name="parameters" element="tns:PulgadaAMetro"/>
</message>
<message name="PulgadaAMetroResponse">
<part name="parameters" element="tns:PulgadaAMetroResponse"/>
</message>
<portType name="LongitudService">
<operation name="MillaAMetro">
<input wsam:Action="http://ws.monster.edu.ec/LongitudService/MillaAMetroRequest" message="tns:MillaAMetro"/>
<output wsam:Action="http://ws.monster.edu.ec/LongitudService/MillaAMetroResponse" message="tns:MillaAMetroResponse"/>
</operation>
<operation name="MetroAMilla">
<input wsam:Action="http://ws.monster.edu.ec/LongitudService/MetroAMillaRequest" message="tns:MetroAMilla"/>
<output wsam:Action="http://ws.monster.edu.ec/LongitudService/MetroAMillaResponse" message="tns:MetroAMillaResponse"/>
</operation>
<operation name="MillaAPulgada">
<input wsam:Action="http://ws.monster.edu.ec/LongitudService/MillaAPulgadaRequest" message="tns:MillaAPulgada"/>
<output wsam:Action="http://ws.monster.edu.ec/LongitudService/MillaAPulgadaResponse" message="tns:MillaAPulgadaResponse"/>
</operation>
<operation name="PulgadaAMilla">
<input wsam:Action="http://ws.monster.edu.ec/LongitudService/PulgadaAMillaRequest" message="tns:PulgadaAMilla"/>
<output wsam:Action="http://ws.monster.edu.ec/LongitudService/PulgadaAMillaResponse" message="tns:PulgadaAMillaResponse"/>
</operation>
<operation name="MetroAPulgada">
<input wsam:Action="http://ws.monster.edu.ec/LongitudService/MetroAPulgadaRequest" message="tns:MetroAPulgada"/>
<output wsam:Action="http://ws.monster.edu.ec/LongitudService/MetroAPulgadaResponse" message="tns:MetroAPulgadaResponse"/>
</operation>
<operation name="PulgadaAMetro">
<input wsam:Action="http://ws.monster.edu.ec/LongitudService/PulgadaAMetroRequest" message="tns:PulgadaAMetro"/>
<output wsam:Action="http://ws.monster.edu.ec/LongitudService/PulgadaAMetroResponse" message="tns:PulgadaAMetroResponse"/>
</operation>
</portType>
<binding name="LongitudServicePortBinding" type="tns:LongitudService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="MillaAMetro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MetroAMilla">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MillaAPulgada">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PulgadaAMilla">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MetroAPulgada">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PulgadaAMetro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LongitudService">
<port name="LongitudServicePort" binding="tns:LongitudServicePortBinding">
<soap:address location="http://localhost:8080/ConUni_Soap_Java_GR01/LongitudService"/>
</port>
</service>
</definitions>