U1/TI1.2 SOAP_DOTNET_SINBDD_GR01/02 CLIWEB/ClienteWebConversion/Connected Services/LongitudServiceReference/LongitudService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56686/ec/edu/monster/ws/LongitudService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ConUni_Soap_DotNet_GR01.ec.edu.monster.models" />
  <xs:element name="MillaAMetro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="millas" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MillaAMetroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ConUni_Soap_DotNet_GR01.ec.edu.monster.models" minOccurs="0" name="MillaAMetroResult" nillable="true" type="q1:ConversionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MetroAMilla">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="metros" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MetroAMillaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ConUni_Soap_DotNet_GR01.ec.edu.monster.models" minOccurs="0" name="MetroAMillaResult" nillable="true" type="q2:ConversionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MillaAPulgada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="millas" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MillaAPulgadaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ConUni_Soap_DotNet_GR01.ec.edu.monster.models" minOccurs="0" name="MillaAPulgadaResult" nillable="true" type="q3:ConversionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PulgadaAMilla">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pulgadas" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PulgadaAMillaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ConUni_Soap_DotNet_GR01.ec.edu.monster.models" minOccurs="0" name="PulgadaAMillaResult" nillable="true" type="q4:ConversionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MetroAPulgada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="metros" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MetroAPulgadaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ConUni_Soap_DotNet_GR01.ec.edu.monster.models" minOccurs="0" name="MetroAPulgadaResult" nillable="true" type="q5:ConversionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PulgadaAMetro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pulgadas" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PulgadaAMetroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ConUni_Soap_DotNet_GR01.ec.edu.monster.models" minOccurs="0" name="PulgadaAMetroResult" nillable="true" type="q6:ConversionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>