U1/TI1.4 RESTFULL_DOTNET_SINBDD_GR01/02 CLIESC/Cli_Suma_WS/src/META-INF/wsdl/localhost_8080/Suma_Soap_Java_GR01/SumaWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.monster.edu.ec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.monster.edu.ec/">

<xs:element name="sumar" type="tns:sumar"/>

<xs:element name="sumarResponse" type="tns:sumarResponse"/>

<xs:complexType name="sumar">
<xs:sequence>
<xs:element name="num1" type="xs:int"/>
<xs:element name="num2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sumarResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>