U1/EUREKABANK/TI1.2 SOAP_DOTNET_BDD_GR01/02 CLICON/ClienteConsolaConversion/Connected Services/LongitudServiceReference/LongitudService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConUni_Soap_DotNet_GR01.ec.edu.monster.models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConUni_Soap_DotNet_GR01.ec.edu.monster.models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ConversionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="tns:ConversionError" />
      <xs:element minOccurs="0" name="Exitoso" type="xs:boolean" />
      <xs:element minOccurs="0" name="Resultado" nillable="true" type="tns:UnidadConversion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConversionResult" nillable="true" type="tns:ConversionResult" />
  <xs:complexType name="ConversionError">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Detalles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaError" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorProblematico" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConversionError" nillable="true" type="tns:ConversionError" />
  <xs:complexType name="UnidadConversion">
    <xs:sequence>
      <xs:element minOccurs="0" name="FactorConversion" type="xs:double" />
      <xs:element minOccurs="0" name="FechaConversion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UnidadDestino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnidadOrigen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorConvertidoExacto" type="xs:double" />
      <xs:element minOccurs="0" name="ValorConvertidoRedondeado" type="xs:double" />
      <xs:element minOccurs="0" name="ValorOriginal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnidadConversion" nillable="true" type="tns:UnidadConversion" />
</xs:schema>