U1/EXAMEN/Comercializadora_Soap_DotNet_GR01/Comercializadora_Soap_DotNet_GR01/Connected Services/BanquitoSoap/CreditoSoapService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51658/WS/CreditoSoapService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BanquitoServer_Soap_DotNet_GR01.DTOs" />
  <xs:element name="ValidarSujetoCredito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedula" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarSujetoCreditoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BanquitoServer_Soap_DotNet_GR01.DTOs" minOccurs="0" name="ValidarSujetoCreditoResult" nillable="true" type="q1:ValidacionCreditoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMontoMaximo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedula" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMontoMaximoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BanquitoServer_Soap_DotNet_GR01.DTOs" minOccurs="0" name="ObtenerMontoMaximoResult" nillable="true" type="q2:MontoMaximoCreditoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OtorgarCredito">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BanquitoServer_Soap_DotNet_GR01.DTOs" minOccurs="0" name="solicitud" nillable="true" type="q3:SolicitudCreditoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OtorgarCreditoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BanquitoServer_Soap_DotNet_GR01.DTOs" minOccurs="0" name="OtorgarCreditoResult" nillable="true" type="q4:RespuestaCreditoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTablaAmortizacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroCredito" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTablaAmortizacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BanquitoServer_Soap_DotNet_GR01.DTOs" minOccurs="0" name="ObtenerTablaAmortizacionResult" nillable="true" type="q5:ArrayOfCuotaAmortizacionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>