U1/EXAMEN/Comercializadora_Soap_DotNet_GR01/Comercializadora_Soap_DotNet_GR01/Connected Services/BanquitoSoap/CreditoSoapService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BanquitoServer_Soap_DotNet_GR01.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BanquitoServer_Soap_DotNet_GR01.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ValidacionCreditoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsValido" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidacionCreditoDTO" nillable="true" type="tns:ValidacionCreditoDTO" />
  <xs:complexType name="MontoMaximoCreditoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontoMaximo" type="xs:decimal" />
      <xs:element minOccurs="0" name="PromedioDepositos" type="xs:decimal" />
      <xs:element minOccurs="0" name="PromedioRetiros" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MontoMaximoCreditoDTO" nillable="true" type="tns:MontoMaximoCreditoDTO" />
  <xs:complexType name="SolicitudCreditoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCuotas" type="xs:int" />
      <xs:element minOccurs="0" name="PrecioElectrodomestico" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudCreditoDTO" nillable="true" type="tns:SolicitudCreditoDTO" />
  <xs:complexType name="RespuestaCreditoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CuotaMensual" type="xs:decimal" />
      <xs:element minOccurs="0" name="Exito" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontoCredito" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumeroCredito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCuotas" type="xs:int" />
      <xs:element minOccurs="0" name="TablaAmortizacion" nillable="true" type="tns:ArrayOfCuotaAmortizacionDTO" />
      <xs:element minOccurs="0" name="TasaInteres" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaCreditoDTO" nillable="true" type="tns:RespuestaCreditoDTO" />
  <xs:complexType name="ArrayOfCuotaAmortizacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CuotaAmortizacionDTO" nillable="true" type="tns:CuotaAmortizacionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCuotaAmortizacionDTO" nillable="true" type="tns:ArrayOfCuotaAmortizacionDTO" />
  <xs:complexType name="CuotaAmortizacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CapitalPagado" type="xs:decimal" />
      <xs:element minOccurs="0" name="Interes" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumeroCuota" type="xs:int" />
      <xs:element minOccurs="0" name="Saldo" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorCuota" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CuotaAmortizacionDTO" nillable="true" type="tns:CuotaAmortizacionDTO" />
</xs:schema>